@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600;700;900&display=swap");



@import "tailwindcss";
@theme {
  --color-primary: #C71313;
}
 

 @utility container {
  margin-inline: auto;
  padding-inline: 1em;

  @media (min-width: 640px) {
    padding-inline: 1rem;
  }

  @media (min-width: 1024px) {
    max-width: 1280px; /* Fix width in lg (before xl) */
    padding-inline: 2rem;
  }

  @media (min-width: 1280px) {
    padding-inline: 3rem; /* Slightly increase instead of keeping same */
  }

  @media (min-width: 1536px) {
    padding-inline: 4rem; /* Reduce from 6rem to 4rem */
  }
}

.goog-logo-link {
  display: none !important;
}

.goog-te-banner-frame.skiptranslate {
  display: none !important;
}

body {
  top: 0px !important;
}

#google_translate_element {
  display: none !important; /* Hide Google’s default dropdown */
}

@layer utilities {
  @keyframes slide-in-right {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  .animate-slide-in-right {
    animation: slide-in-right 1s ease-out forwards;
  }
}

@media (max-width: 1336px) {
  .navbar-link {
    font-size: 0.8rem !important; 
  }

  .navbar-btn {
    font-size: 0.8rem !important; /* Smaller register/login text */
    padding: 0.4rem 0.9rem !important;
  }

  .navbar-search input {
    font-size: 0.8rem !important;
  }
}


@media (min-width:900px) and (max-width:1150px) {
  .navbar-link {
    font-size: 0.65rem !important;
  }

  .navbar-btn {
    font-size: 0.7rem !important; 
    padding: 0.35rem 0.8rem !important;
  }

  .navbar-search input {
    font-size: 0.65rem !important; /* Smaller text inside input */
  }
}

@keyframes slowbounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.animate-slowbounce {
  animation: slowbounce 1.5s infinite;
}
html {
  scroll-behavior: smooth;
}